<nav *ngIf="(isHandset$ | async)" class="bottom-nav">
  <a class="bottom-nav__destination" routerLink="/home">
    <mat-icon>home</mat-icon>
    <span class="bottom-nav__label">Home</span>
  </a>

  <a class="bottom-nav__destination bottom-nav__destination--active" routerLink="about">
    <mat-icon>info</mat-icon>
    <span class="bottom-nav__label">About</span>
  </a>

  <a class="bottom-nav__destination" routerLink="booking/main">
    <mat-icon>book</mat-icon>
    <span class="bottom-nav__label">Book</span>
  </a>
</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [ngClass]="{'hidden': !(isHandset$ | async)}" style="background-color: #0a336b">
    <mat-toolbar style="color: white">Menu</mat-toolbar>
    <mat-nav-list >
      <a style="color: white" *ngFor="let navButton of navButtons" class="navbar-item" mat-list-item routerLink="{{navButton.link}}" routerLinkActive="active">
        <mat-icon>{{navButton.icon}}</mat-icon>{{navButton.text}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 100%">

    <!-- TOOLBAR FOR HANDSET -->
    <mat-toolbar style="background-color: #000051!important;" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon style="color:white;">menu</mat-icon>
      </button>
      <span class="flex-spacer"></span>

      <div>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/login" style="margin-right: 1rem">
          <mat-icon style="margin-right: 0.4em">login</mat-icon>
          Login
        </button>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/register">
          <mat-icon style="margin-right: 0.4em">assignment</mat-icon>
          Register
        </button>
        <button
          *ngIf="(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" (click)="auth.signOut()">
          <mat-icon style="margin-right: 0.4em">exit_to_app</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar>

    <!-- TOOLBAR FOR BIGGER SCREENS -->
    <mat-toolbar style="background-color: #000051!important; z-index: 100" *ngIf="!(isHandset$ | async)">
      <a style="color: white" *ngFor="let navButton of navButtons" class="navbar-item" mat-button
         routerLink="{{navButton.link}}" routerLinkActive="active">
        <mat-icon>{{navButton.icon}}</mat-icon>{{navButton.text}}
      </a>
      <span class="flex-spacer"></span>
      <div>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/login" style="margin-right: 1rem">
          <mat-icon style="margin-right: 0.4em">login</mat-icon>
          Login
        </button>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/register">
          <mat-icon style="margin-right: 0.4em">assignment</mat-icon>
          Register
        </button>
        <button
          *ngIf="(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" (click)="auth.signOut()">
          <mat-icon style="margin-right: 0.4em">exit_to_app</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar>

    <!-- BODY CONTENT -->
    <router-outlet></router-outlet>


    <!-- FOOTER -->
<!--    <mat-toolbar class="custom-background-secondary"-->
<!--                 fxLayoutAlign="center center"-->
<!--                  style="position: fixed; bottom: 0"-->
<!--                  >-->
<!--      <p class="mat-typography">-->
<!--        © AutoBook GmbH.-->
<!--      </p>-->
<!--    </mat-toolbar>-->

  </mat-sidenav-content>
</mat-sidenav-container>

