<nav *ngIf="(isHandset$ | async)" class="bottom-nav">
  <a class="bottom-nav__destination" routerLink="/home">
    <svg class="bottom-nav__icon" viewBox="0 0 24 24">
      <path d="M11,7V12.11L15.71,14.9L16.5,13.62L12.5,11.25V7M12.5,2C8.97,2 5.91,3.92 4.27,6.77L2,4.5V11H8.5L5.75,8.25C6.96,5.73 9.5,4 12.5,4A7.5,7.5 0 0,1 20,11.5A7.5,7.5 0 0,1 12.5,19C9.23,19 6.47,16.91 5.44,14H3.34C4.44,18.03 8.11,21 12.5,21C17.74,21 22,16.75 22,11.5A9.5,9.5 0 0,0 12.5,2Z"></path>
    </svg>
    <span class="bottom-nav__label">Home</span>
  </a>

  <a class="bottom-nav__destination bottom-nav__destination--active" routerLink="about">
    <svg class="bottom-nav__icon" viewBox="0 0 24 24">
      <path d="M12,21.35L10.55,20.03C5.4,15.36 2,12.27 2,8.5C2,5.41 4.42,3 7.5,3C9.24,3 10.91,3.81 12,5.08C13.09,3.81 14.76,3 16.5,3C19.58,3 22,5.41 22,8.5C22,12.27 18.6,15.36 13.45,20.03L12,21.35Z"></path>
    </svg>
    <span class="bottom-nav__label">About</span>
  </a>

  <a class="bottom-nav__destination" routerLink="booking/main">
    <svg class="bottom-nav__icon" viewBox="0 0 24 24">
      <path d="M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M12,12.5A1.5,1.5 0 0,1 10.5,11A1.5,1.5 0 0,1 12,9.5A1.5,1.5 0 0,1 13.5,11A1.5,1.5 0 0,1 12,12.5M12,7.2C9.9,7.2 8.2,8.9 8.2,11C8.2,14 12,17.5 12,17.5C12,17.5 15.8,14 15.8,11C15.8,8.9 14.1,7.2 12,7.2Z"></path>
    </svg>
    <span class="bottom-nav__label">Book</span>
  </a>
</nav>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               [ngClass]="{'hidden': !(isHandset$ | async)}" style="background-color: #0a336b">
    <mat-toolbar style="color: white">Menu</mat-toolbar>
    <mat-nav-list >
      <a style="color: white" *ngFor="let navButton of navButtons" class="navbar-item" mat-list-item routerLink="{{navButton.link}}" routerLinkActive="active">
        <mat-icon>{{navButton.icon}}</mat-icon>{{navButton.text}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="min-height: 100%">

    <!-- TOOLBAR FOR HANDSET -->
    <mat-toolbar style="background-color: #000051!important;" *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon style="color:white;">menu</mat-icon>
      </button>
      <span class="flex-spacer"></span>

      <div>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/login" style="margin-right: 1rem">
          <mat-icon style="margin-right: 0.4em">login</mat-icon>
          Login
        </button>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/register">
          <mat-icon style="margin-right: 0.4em">assignment</mat-icon>
          Register
        </button>
        <button
          *ngIf="(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" (click)="auth.signOut()">
          <mat-icon style="margin-right: 0.4em">exit_to_app</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar>

    <!-- TOOLBAR FOR BIGGER SCREENS -->
    <mat-toolbar style="background-color: #000051!important; z-index: 100" *ngIf="!(isHandset$ | async)">
      <a style="color: white" *ngFor="let navButton of navButtons" class="navbar-item" mat-button
         routerLink="{{navButton.link}}" routerLinkActive="active">
        <mat-icon>{{navButton.icon}}</mat-icon>{{navButton.text}}
      </a>
      <span class="flex-spacer"></span>
      <div>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/login" style="margin-right: 1rem">
          <mat-icon style="margin-right: 0.4em">login</mat-icon>
          Login
        </button>
        <button
          *ngIf="!(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" routerLink="/register">
          <mat-icon style="margin-right: 0.4em">assignment</mat-icon>
          Register
        </button>
        <button
          *ngIf="(this.auth.isLoggedIn$ | async)"
          mat-raised-button class="custom-background-secondary" (click)="auth.signOut()">
          <mat-icon style="margin-right: 0.4em">exit_to_app</mat-icon>
          Logout
        </button>
      </div>
    </mat-toolbar>

    <!-- BODY CONTENT -->
    <router-outlet></router-outlet>


    <!-- FOOTER -->
<!--    <mat-toolbar class="custom-background-secondary"-->
<!--                 fxLayoutAlign="center center"-->
<!--                  style="position: fixed; bottom: 0"-->
<!--                  >-->
<!--      <p class="mat-typography">-->
<!--        © AutoBook GmbH.-->
<!--      </p>-->
<!--    </mat-toolbar>-->

  </mat-sidenav-content>
</mat-sidenav-container>

