<div
  class="page-wrapper"
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayout.md="column"
  fxLayoutAlign="center center"
  style="height: 90vh">

  <div
    class="login-content-wrapper"
    fxLayout="column"
    fxLayoutAlign="start start">

    <!--LOGO-->

    <h1>Welcome to AUTOBOOK.ME</h1>
    <h3>nfgisf sdfjsdf sj fsjdf sdjf dsj fsdjf sdjf sjfj dsfjs f</h3>

  </div>

  <div
    class="login-form-wrapper"
    fxLayout="column">
    <mat-card
      *ngIf="!(this.auth.isLoggedIn$ | async)">
      <mat-card-header>
        <mat-card-title *ngIf="selectedIndexForTabs === 0">Login to your account</mat-card-title>
        <mat-card-title *ngIf="selectedIndexForTabs === 1">Create a new account</mat-card-title>
        <mat-card-subtitle>any suitable subtitle if we can think of one</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-tab-group [(selectedIndex)]="selectedIndexForTabs" mat-align-tabs="center" dynamicHeight>

          <mat-tab label="Login">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" fxLayout="column">

              <mat-form-field>
                <mat-label>
                  Your Email ID
                </mat-label>
                <input type="text" matInput formControlName="email">
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  Your Password
                </mat-label>

                <input type="password" matInput formControlName="password">
              </mat-form-field>

              <mat-label><button mat-button color="warn" (click)="passwordReset()">Forgot your password?</button> </mat-label>


              <button mat-raised-button type="submit" color="primary">Login</button>

            </form>

          </mat-tab>

          <mat-tab label="register">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmitForSignUp($event)" fxLayout="column">

              <mat-form-field>
                <mat-label>
                  Your Email ID
                </mat-label>
                <input type="text" matInput formControlName="email">
              </mat-form-field>

              <mat-form-field>
                <mat-label>
                  Your Password
                </mat-label>
                <mat-hint>Your password should contain at least one uppercase character</mat-hint>

                <input type="password" matInput formControlName="password">
              </mat-form-field>
              <button mat-raised-button type="submit" color="accent">Sign Up</button>

            </form>

          </mat-tab>

        </mat-tab-group>

      </mat-card-content>
      <mat-card-footer>
          <mat-card-actions fxLayoutAlign="center center">
            <button mat-button (click)="authWithGoogle()"><svg style="width:20px;height:20px" viewBox="0 0 24 24">
              <path fill="currentColor" d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z" />
            </svg> Login with Google </button>
          <button mat-button (click)="authWithMicrosoft()"><svg style="width:20px;height:20px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M2,3H11V12H2V3M11,22H2V13H11V22M21,3V12H12V3H21M21,22H12V13H21V22Z" />
          </svg> Login with Microsoft</button>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </div>

</div>
