.login-content-wrapper {
  padding-left: 3rem;
  width: 100%;
  background-size: cover;
  color: floralwhite;
}

.login-form-wrapper {
  width: 30%;
  padding-right: 2rem;
}

.page-wrapper {
  background: url('../../assets/images/dark-material-bg.jpg') no-repeat;
  background-size: cover;
}
